.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-margin: 10;
}
.label {
    -fx-font-size: 14px;
    
}
.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-color: #0072c6;
    -fx-text-fill: white;
   
}

.button:hover {
    -fx-background-color: #005ea2;
}
.text-field {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #a9a9a9;
    
    -fx-border-color: #a9a9a9;
    -fx-padding: 5;
    -fx-border-radius: 15px;
}

.text-field:focused {
    -fx-border-color: #0072c6;
}
.vbox {
    -fx-background-color: white;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}
